<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- база данных -->
		<add key="db_host" value="sersh.keenetic.name"/>
		<add key="db_port" value="5432"/>
		<add key="db_user" value="Parkour"/>
		<add key="db_password" value="Parkour"/>
		<add key="db_name" value="parkour"/>

		<!-- rabbitmq service -->
		<add key="rabbitmq_host" value="sersh.keenetic.name"/>
		<add key="rabbitmq_port" value="5672"/>
		<add key="rabbitmq_username" value="guest"/>
		<add key="rabbitmq_password" value="guest"/>
	</appSettings>
</configuration>